@page
@using Core.Infrastructure;
@model Core.Pages.CategoriesModel
@inject DataContext context;



<div class="bg-primary text-white text-center p-2 m-2">
    Categories
</div>

<ul class="list-group m-2">
    @foreach (var c in context.Categories)
    {
        <li class="list-group-item m-2">
            @c.Name
        </li>
    }
</ul>