@page "{id:long?}"
@using Core.Infrastructure;
@using Core.Models;
@using Microsoft.AspNetCore.Mvc.RazorPages;
@model Core.Pages.IndexModel;

@{
}

<h1>Razor page</h1>

<partial name="_ProductPartial" model="Model.Product"></partial>
<p></p>
<p>@Model.Product.Name</p>

@functions
{

}
